*{
	margin:0;
	padding:0;
}
.clear::after {
	clear:both;
	content:"";
	display:table;
}
.borRN {
	border-right: none !important;
}
.blank {
	display: block;
	height: 10px;
}
.floatL {
	float:left;
}
.floatR {
	float:right;
}
.marR20 {
	margin-right: 20px;
}
.marR10 {
	margin-right: 10px;
}
.marB40 {
	margin-bottom: 40px;
}
.marL5 {
	margin-left: 5px;
}
.marR5 {
	margin-right: 5px;
}
.marL10 {
	margin-left: 10px;
}
.marT10 {
	margin-top:10px !important;
}
.cursor {
	cursor:hand;
	cursor:pointer;
}
body {
	font-family: helvetica;
	background-color: #f5f5f5;
}
.top {
	width: 100%;
	height:150px;
}
.container {
	height: auto;
}
.bannerImg {
	width:100%;
	height:400px;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
.main {
	width: 100%;
}
.sideWrap {
	width:980px;
	margin:0 auto;
}
.leftSide {
	float:left;
	width: 27%;
	height:600px;
	margin-top:30px;
}
.rightSide {
	float:right;
	width:70%;
	height:1000px;
}
.sideBox {
	width:90%;
	margin-bottom: 20px;
	border:1px #d7d7d7 solid;
}
.sideBox p {
	color:#fff;
	display: inline-block;
}
.sideTop {
	background-color: #669934;
	height: 30px;
	line-height: 30px;
}
.sideTop p {
	text-indent: 15px;
	font-size: 13px;
	font-weight: 500;
}

.sideMid {
	background-color: #fff;
	padding: 10px 0;
}
.researchWrap {
	width:80%;
	margin:0 auto;
	border:1px #ddd solid;
	height:25px;

}
.research {
	float:left;
	width:85%;
	outline: none;
	border: none;
	padding: 7px 0;
	text-indent:5px;
	font-size: 10px;
}
.researchButton {
	float:left;
	border-left: 1px #ddd solid;
	text-align: center;	
	width: 26px;
	padding: 3px 0;
	background-color: #fff;
}
.researchButton i {
	display: inline-block;
	height:100%;
	vertical-align: middle;
	color:#669934;
}
.catList li {
	list-style-type: none;
	margin-bottom: 1px;
}
.catList li a{
	color:#666;
	text-decoration: none;
	text-indent:15px;
	display: inline-block;
	font-size: 13px;
}
.catList li a:hover, .catList li a:hover span{
	color:#ed0303;
}
.catList li a span {
	color:#669934;
	font-size: 12px;
}
.sideTop i {
	display: inline-block;
	height:100%;
	vertical-align: top;
	color:#f5f5f5;
	margin-right: 3px;
}
.sideTop>.textIndent {
	text-indent: 5px;
}
.clear:after {
	clear:both;
	content:"";
	display:table;
}
.sideMid .priceInput input {
	width: 90%;
	padding:4px;
	border:1px #ddd solid;
	outline: none;
}
.align {
	text-align:center;
	padding: 15px 0;
}
.priceFrom {
	float:left;
	width:30%;
	margin-left: 28px;
}
.priceTo {
	float:left;
	width:30%;
}
.dash {
	float:left;
	width: 9%;
	color:#000;
}
.priceSearchButton {
	float:left;
	width: 24px;
	height:23px;
	border:1px #ddd solid;
}
.priceSearchButton i {
	display: block;
    line-height: 24px;
    color: #669934;
}
.onAirWrap {
	width:85%;
	margin: 0 auto;
}
.onAirImgWrap {
	width: 100%;
}
.onAirImgWrap img {
	width:100%;
}
.onAirWrap .onAirName {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color:#000;
	font-size: 12px;
}
.onAirWrap .onAirPrice {
	color:#ed0303;
	font-size: 17px;
	font-weight:700;
}
.list {
	width: 100%;
}
.list:after {
	clear:both;
	content:"";
	display:table;
}
.list li {
	float:left;
	list-style-type: none;
}
.list li a {
	text-decoration: none;
	color:#666;
	font-size: 11px;
}
.list li a:hover {
	color:#669934;
}
.list p {
	color:#666;
}
.itemsWrap {
	/* border:1px #ed0303 solid; */
	height: 1000px;
    margin-top: 10px;
}
.itemRow {
	width:100%;
	height:30%;
/* 	border:1px blue solid; */
}
.itemRow .items {
	width: 30%;
	border:1px #ddd solid; 
	height:100%;
	float:left;
	background-color: #fff;
	cursor:hand;
	cursor:pointer;
	position:relative;
}
.itemRow .items:hover {
	border:1px #669934 solid;
}
.itemLink {
	text-decoration: none;
	color:inherit;
	height: 90%;
	display: block;
}
.itemWrap {
	width: 80%;
	margin: 0 auto;
}
.itemImg img {
	width: 100%;
}
.itemPrice {
	font-size: 15px;
	color:#ed0303;
	font-weight: 700;
	margin-bottom: 3px;
}
.itemName {
	font-size: 12px;
	color:#666;
}
.onAirTime {
	position:absolute;
	bottom:40px;
}
.onAirTime p {
	font-size: 10px;
	color:#666;
}
.onAirTime p span {
	font-weight: 600;
	font-size: 12px;
	color:#ddd;
}
.onAirTime p .onAirTxt {
	color:#ed0303;
}
.itemBot {
	/* border:1px green solid; */
	position: absolute;
	bottom:0;
	left: 19px;
	width: 80%;
	padding:5px 0;
	border-top: 1px #f5f5f5 solid;

}
.reviewBalloon, .itemCart, .itemWish, .itemOnAir {
	width:15px;
	display:inline-block;
}
.itemBot img {
	width:100%;
	height: 100%;
	vertical-align: middle;
}
.reviewNo {
	display:inline-block;
	font-size: 11px;

}